$primary-c: #409EFF !default; // 整站主色
$primary-bg-c: #fff !default; // 背景色
$line-c: #dedede !default; // 线的颜色
$font-c: #1a1a1a !default; // 字体颜色
$red: #FF5a5e !default; // 红色
$font-family-loud: 'PingFangSC-Regular', 'Microsoft YaHei', 'Heiti SC', 'tahoma', 'arial', 'Hiragino Sans GB', '\\5B8B\4F53', 'sans-serif' !default;
$link-c: #000 !default; // 链接颜色
$content-margin : 15px !default;
